// Mixins in here
.flex-border {
    border: 1px solid red;
}

.divide-border {
    border-bottom: 2px dashed @navigation-border;
}

.btn-style(@wide) {
    color: @white;
    background-color: @eastern-blue;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    width: @wide;
} 

.call-animation(@name, @dur) {
    animation-name: @name;
    animation-duration: @dur;
}